table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.question_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.question_menu a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.question_menu a.active {
  background-color: #4CAF50;
  color: white;
}

.question_menu a:hover:not(.active) {
  background-color: #555;
  color: white;
}


