{% extends "list.html" %}
{% block add %}
    <form action="/add-question" method="post" enctype="multipart/form-data">
        <h1>Ask a new question</h1>
        <p>
            <label for="title">Question:</label><br>
            <input type="text" id="title" name="title" minlength="5" required>
        </p>
        <p>
            <label for="message">Message:</label><br>
            <textarea rows="5" cols="20" id="message" name="message" required></textarea>
        </p>
        <p>
            <label for="image">Upload image:</label>
            <input type=file id="image" name=image_file>
        </p>
        <p>
            <input type="submit" value="Ask new question">
        </p>
    </form>
{% endblock %}