{% extends "question.html" %}
{% block answer %}
    <form action="/question/<question_id>/edit" method="post">
        <h1>Edit question</h1>
        <p>
            <label for="title">Question:</label><br>
            <input type="text" id="title" name="title" minlength="5" value="{{ question.title}}" required>
        </p>
        <p>
            <label for="message">Message:</label><br>
            <textarea rows="20" cols="50" id="message" name="message" required>{{ question.message }}</textarea>
        </p>
        <p>
            <input type="submit" value="Edit question">
            <input type="hidden" name="id" value="{{ question.id }}"
        </p>
    </form>
{% endblock %}