<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions | AskMate</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <h1>Questions</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>Title</th>
        </tr>
        {% for question in questions|sort(reverse=True, attribute='submission_time') %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.submission_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% block add %}
    <p>
       <a href ="/add-question"><button type = button>Ask a question</button></a>
    </p>
    {% endblock %}
</body>
</html>
