<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions | AskMate</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <h1>Questions</h1>
    <table>
        <tr>
            {% for field, header_text in [('id', 'Id'), ('submission_time', 'Submission time'), ('title', 'Title')] %}
                <th>
                    {{ header_text }}
                    <a href="{{ url_for('route_list_ordered', order_key=field, order_direction='asc') }}">
                        <button>v</button>
                    </a>
                    <a href="{{ url_for('route_list_ordered', order_key=field, order_direction='desc') }}">
                        <button>^</button>
                    </a>
                </th>
            {% endfor %}
        </tr>
        {% set is_reverse = (order_direction == 'desc') if order_direction else True %}
        {% set sort_attribute = order_key if order_key else 'submission_time' %}
        {% for question in questions|sort(reverse=is_reverse, attribute=sort_attribute) %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.submission_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('route_list') }}", method = post>
        <label for="search">What are you looking for?</label>
        <input type="text" name="search" value = {{search if search }}>
        <input type ="submit" value="Search">
    </form>
    {% block search %}
    {% endblock %}
    {% block add %}
    <p>
       <a href ="/add-question"><button type = button>Ask a question</button></a>
    </p>
    {% endblock %}
</body>
</html>
