{% extends "question.html" %}
{% block answer %}
    <h1>New answer</h1>
    <form action="/question/{{question.id}}/new-answer" method=POST style="align-self: center" enctype="multipart/form-data">
        <p>
            <label for="message">Answer:</label><br>
            <textarea rows="20" cols="50" id="message" name="message" required></textarea>
        </p>
        <p>
            <input type="hidden" id="question_id" name="question_id" value="{{ question.id }}">
        </p>
        <p>
            <label for="upload-image">Upload image:</label><br>
            <input type=file id="upload-image" name=image_file>
        </p>
        <p>
            <button type="submit">Post your answer</button>
        </p>
    </form>
{% endblock %}