<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>question</title>
           <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    </head>
    <body>
        <h1>{{ question.title }}</h1>
        <p style = "width:80%; background-color: #dddddd;"> {{ question.message }} </p>
        {% if  question.image %}
            <img src="{{ question.image }}">
        {% endif %}
        <table>
            <tr>
                <th>Question id</th>
                <th>Submitted</th>
                <th>Viewed</th>
                <th>Voted</th>
            </tr>
            <tr>
                <td>{{ question.id  }}</td>
                <td>{{ question.submission_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
            </tr>
        </table>
        <form action="{{ url_for("edit_question", question_id=question.id) }}" method="post">
            <p>
                <button type="submit">Edit this question</button>
            </p>
        </form>
        <form action="{{ url_for("delete_question", question_id=question.id) }}" method="post">
            <p>
                <button type="submit">Delete this question(and all the answers)</button>
            </p>
        </form>
        {% block answer %}
        <h2>Answers</h2>
        {% for answer in answers %}
            <p>{{ answer.message }}</p>
            {% if  answer.image %}
                 <img src="{{ answer.image }}">
            {% endif %}
            <p>Answer id: {{ answer.id }} Submitted: {{ answer.submission_time.strftime('%Y-%m-%d %H:%M') }}
                Voted: {{ answer.vote_number }}</p>
            <form action="{{ url_for("delete_answer", answer_id=answer.id) }}" method="post">
                <input type="hidden" name="question_id" value="{{ question.id }}">
                <p>
                    <button type="submit">Delete this answer</button>
                </p>
            </form>


        {% endfor %}
            <a href="/question/{{ question.id }}/new-answer"><button type="button">Answer this question</button></a>
        {% endblock %}

    </body>
</html>