<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>question</title>
           <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    </head>
        <h1 style="text-align: center">{{ question.title }}</h1>
        <table>
            <tr>
                <th>Question id</th>
                <th>Submitted</th>
                <th>Viewed</th>
                <th>Voted
                    <a href="/question/{{ question.id }}/vote-up"><button>Vote up</button></a>
                    <a href="/question/{{ question.id }}/vote-down"><button>Vote down</button></a>
                </th>
            </tr>
            <tr>
                <td>{{ question.id  }}</td>
                <td>{{ question.submission_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
            </tr>
        </table>
    <body>
        <p style = "width:80%; background-color: #dddddd;"> {{ question.message }} </p>
        {% if  question.image %}
            <img src="{{ question.image }}" max-width="100%" height=auto alt="Image for question">
        {% endif %}
        <a href="{{ url_for("edit_question", question_id=question.id) }}"><button type="button">Edit question</button></a>
        <form action="{{ url_for("delete_question", question_id=question.id) }}" method="post">
        <p>
            <button type="submit">Delete this question(and all the answers)</button>
        </p>
        </form>

        {% block answer %}
        <h2>Answers</h2>
        {% for answer in answers %}
            <table>
            <tr>
                <th>Answer id</th>
                <th>Submitted</th>
                <th>Voted
                    <a href="{{ url_for('vote_answer', answer_id=answer.id, vote='vote-up') }}"><button>Vote up</button></a>
                    <a href="{{ url_for('vote_answer', answer_id=answer.id, vote='vote-down') }}"><button>Vote down</button></a>
                </th>
            </tr>
            <tr>
                <td>{{ answer.id  }}</td>
                <td>{{ answer.submission_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ answer.vote_number }}</td>
            </tr>
        </table>
              <p style = "width:80%; background-color: #dddddd;">{{ answer.message }}</p>
            {% if  answer.image %}
                 <img src="{{ answer.image }}" max-width="100%" height=auto alt="Image for answer">
            {% endif %}
            <form action="{{ url_for("delete_answer", answer_id=answer.id) }}" method="post">
                <input type="hidden" name="question_id" value="{{ question.id }}">
                <p>
                    <button type="submit">Delete this answer</button>
                </p>
            </form>
            <form action="{{ url_for("edit_answer", answer_id=answer.id) }}" method="get">
             <p>
                <button type="submit">Edit this answer</button>
             </p>
            </form>
        {% endfor %}
            <a href="/question/{{ question.id }}/new-answer"><button type="button">Answer this question</button></a>
        {% endblock %}
    </body>
</html>