<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <title>{{ title }}</title>
</head>
<body>
    <div class="content">
        <div class="footer top">
            <div class="header_col1">
            <h2 style="text-align: left"><span style="color: orange;">FL</span><span style="color: white">ask Mate</span></h2>
            </div>
            {% if session.username %}
                <div class="header_col2" id="username">
                <h4>Logged in as {{ session.username }}</h4>
                </div>
                <div class="header_col3">
                    <a href="{{ url_for('logout') }}"> Log out</a>
                </div>
            {% else %}
                <div class="header_col2"></div>
                <div class="header_col3">
                    <div class="login"><a href="{{ url_for('login') }}">Login</a></div>
                    <div class="login"><a href="{{ url_for('registration') }}">Registration</a></div>
                </div>
            {% endif %}
        </div>
            <p class="header">{{ title }}</p>
        <div class="card">
            <form id="hash" action="{{url_for(server_function)}}" method="post">
                <input class="input" type="text" name="username" placeholder="username"  minlength="5" required>
                <input class="input" type="password" name="password" placeholder="password"  minlength="5" required>
                <input class="button input" type="submit" value="{{ submit_text }}">
            </form>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        </div>
        <div class="row">
            <div class="empty"></div>
        </div>
        <div class="footer">
            <a href="/" style="font-size: 30px; color: white;"><i class="fas fa-home"></i></a>
        </div>
    </div>

</body>
</html>