<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="card">
        <p class="header">{{ title }}</p>
        <form id="hash" action="{{url_for(server_function)}}" method="post">
            <input class="input" type="text" name="username" placeholder="username"  minlength="5" required>
            <input class="input" type="password" name="password" placeholder="password"  minlength="5" required>
            <input class="button input" type="submit" value="{{ submit_text }}">
        </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

    </div>
</body>
</html>